[Unit]
Description=Waywallen Color Auto Sync
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/.local/bin/watch-waywallen.sh
Restart=always
RestartSec=3
SyslogIdentifier=waywallen-colors
Environment="PATH=%h/.local/bin:%h/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
NoNewPrivileges=true

[Install]
WantedBy=default.target
